interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://w1.weather.gov/xml/current_obs/KBOS.xml
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?> \r\n<?xml-stylesheet\
        \ href=\"latest_ob.xsl\" type=\"text/xsl\"?>\r\n<current_observation version=\"\
        1.0\"\r\n\t xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\r\n\t xmlns:xsi=\"\
        http://www.w3.org/2001/XMLSchema-instance\"\r\n\t xsi:noNamespaceSchemaLocation=\"\
        http://www.weather.gov/view/current_observation.xsd\">\r\n\t<credit>NOAA's\
        \ National Weather Service</credit>\r\n\t<credit_URL>http://weather.gov/</credit_URL>\r\
        \n\t<image>\r\n\t\t<url>http://weather.gov/images/xml_logo.gif</url>\r\n\t\
        \t<title>NOAA's National Weather Service</title>\r\n\t\t<link>http://weather.gov</link>\r\
        \n\t</image>\r\n\t<suggested_pickup>15 minutes after the hour</suggested_pickup>\r\
        \n\t<suggested_pickup_period>60</suggested_pickup_period>\n\t<location>Boston,\
        \ Logan International Airport, MA</location>\n\t<station_id>KBOS</station_id>\n\
        \t<latitude>42.36056</latitude>\n\t<longitude>-71.01056</longitude>\n\t<observation_time>Last\
        \ Updated on Nov 5 2016, 2:54 pm EDT</observation_time>\r\n        <observation_time_rfc822>Sat,\
        \ 05 Nov 2016 14:54:00 -0400</observation_time_rfc822>\n\t<weather>A Few Clouds</weather>\n\
        \t<temperature_string>56.0 F (13.3 C)</temperature_string>\r\n\t<temp_f>56.0</temp_f>\r\
        \n\t<temp_c>13.3</temp_c>\n\t<relative_humidity>53</relative_humidity>\n\t\
        <wind_string>West at 10.4 MPH (9 KT)</wind_string>\n\t<wind_dir>West</wind_dir>\n\
        \t<wind_degrees>280</wind_degrees>\n\t<wind_mph>10.4</wind_mph>\n\t<wind_kt>9</wind_kt>\n\
        \t<pressure_string>1018.4 mb</pressure_string>\n\t<pressure_mb>1018.4</pressure_mb>\n\
        \t<pressure_in>30.08</pressure_in>\n\t<dewpoint_string>39.0 F (3.9 C)</dewpoint_string>\r\
        \n\t<dewpoint_f>39.0</dewpoint_f>\r\n\t<dewpoint_c>3.9</dewpoint_c>\n\t<windchill_string>53\
        \ F (12 C)</windchill_string>\r\n      \t<windchill_f>53</windchill_f>\r\n\
        \      \t<windchill_c>12</windchill_c>\n\t<visibility_mi>10.00</visibility_mi>\n\
        \ \t<icon_url_base>http://forecast.weather.gov/images/wtf/small/</icon_url_base>\n\
        \t<two_day_history_url>http://www.weather.gov/data/obhistory/KBOS.html</two_day_history_url>\n\
        \t<icon_url_name>few.png</icon_url_name>\n\t<ob_url>http://www.weather.gov/data/METAR/KBOS.1.txt</ob_url>\n\
        \t<disclaimer_url>http://weather.gov/disclaimer.html</disclaimer_url>\r\n\t\
        <copyright_url>http://weather.gov/disclaimer.html</copyright_url>\r\n\t<privacy_policy_url>http://weather.gov/notice.html</privacy_policy_url>\r\
        \n</current_observation>\n"}
    headers:
      Content-Type: [application/xml]
      Last-Modified: ['Sat, 05 Nov 2016 19:02:12 GMT']
      X-NIDS-ServerID: [www9.md]
    status: {code: 200, message: OK}
version: 1
